<html>
  <html lang="en">
    <head>
      <title>index_11</title>
      <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <!-- bootstapの読み込み -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <!-- vue-js-modalはCNDを利用 -->
      <script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.31/dist/index.min.js"></script>
    </head>
    <body>
      <div id="app" class="m-3">
        <h3 class="text-center">{{ title }}</h3>

        <div class="text-right">
          <!--<button class="btn btn-primary mb-3 bg-primary" v-on:click="reset">リセット</button>-->
          <button class="btn btn-primary mb-3 bg-primary" v-on:click="Modal_show">追加</button>
        </div>

        <span v-for="selected in wallet_items" :key="selected.id">
          <input type="radio" :id="selected.id" :value="selected.value" v-model="current">
          <label :for="selected.id" class="mr-3">{{ selected.label }}</label>
        </span>

        <table class="table">
          <thead>
            <tr>
              <!--<th class="align-middle text-center">日付 <button type="button" class="btn btn-outline-dark btn-sm" v-on:click="sort('date')">▼<button class="button" @click="changeOrder">順番切り替え</button></button></th>-->
              <th class="align-middle text-center">日付<!-- <button type="button" class="btn btn-outline-dark btn-sm" v-on:click="changeOrder">▼</button>--></th>
              <th class="align-middle text-center">収支<!-- <button type="button" class="btn btn-outline-dark btn-sm">▼</button>--></th>
              <th class="align-middle text-center">財布元</th>
              <th class="align-middle text-center">金額</th>
              <th class="align-middle text-center">分類</th>
              <th class="align-middle text-center">メモ</th>
              <th class="align-middle text-center">操作</th>
            </tr>
          </thead>
          <tbody>
            <!--<tr v-for="data in payment">-->
            <tr v-for="data in computedpayment">
            <!--<tr v-for="data in sortedItemsByAmount" v-bind:key="data.date">-->
              <td class="align-middle text-center">{{ data.date }}</td>
              <td class="align-middle text-center">{{ data.in_ex }}</td>
              <td class="align-middle text-center">{{ data.wallet }}</td>
              <td class="align-middle text-center">{{ data.price }}</td>
              <td class="align-middle text-center">{{ data.category }}</td>
              <td class="align-middle text-center">{{ data.memo }}</td>
              <td class="align-middle text-center"><button class="btn btn-info" v-on:click="edit_pay(data)">操作</button></td>
            </tr>
          </tbody>
        </table>

        <!-- ↓モーダル -->
        <modal name="pay-modal" :width="500" :height="500">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h3 class="text-center">家計簿の追加</h3>
              </div>

              <div class="card-text">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="date">日付</label>
                      <input type="date" class="form-control" id="date" v-model="form.date">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="in_ex">収支</label>
                      <select class="form-control" name="in_ex" v-model="form.in_ex">
                        <option value="収入">収入(+)</option>
                        <option value="支出">支出(-)</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="form-group">
                      <label for="wallet">財布元</label>
                      <select class="form-control" name="wallet" v-model="form.wallet">
                        <!--
                        <option value="money">現金</option>
                        <option value="card">クレジットカード</option>
                        <option value="electronic">電子マネー/QRコード・バーコード決済</option>
                        <option value="deduct">口座引き落とし</option>
                        <option value="deposit">振り込み</option>
                        -->
                        <option v-for="no in wallet_items.length - 1">{{ wallet_items[no].label }}</option>
                        <!--<option v-for="wallet in wallet_items">{{ wallet.item }}</option>-->
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="price">金額</label>
                      <input type="text" class="form-control" name="price" v-model="form.price">
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="form-group">
                      <label for="category">カテゴリー</label>
                      <!--
                      <select class="form-control" name="category" v-model="form.category">
                        <option value="">食費</option>
                        <option value="">固定費</option>
                        <option value="">通信費</option>
                        <option value="">外食費</option>
                        <option value="">日用品費</option>
                        <option value="">被服・美容費</option>
                        <option value="">娯楽費</option>
                        <option value="">交通費</option>
                        <option value="">医療費</option>
                        <option value="">特別費</option>
                      </select>
                      -->
                      <select class="form-control" name="category" v-model="form.category">
                        <!--<option v-for="n in category_items.length - 1">{{ category_items[n].item }}</option>-->
                        <option v-for="category in category_items">{{ category.item }}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="memo">メモ</label>
                      <input type="text" class="form-control" name="memo" v-model="form.memo">
                    </div>
                  </div>
                </div>

                <button class="btn btn-primary" v-on:click="add_pay" v-if="create_Flag">追加</button>
                <div v-else>
                  <button class="btn btn-danger" v-on:click="delete_pay">削除</button>
                  <button class="btn btn-success" v-on:click="update_pay">更新</button>
                </div>

              </div>
            </div>
          </div>
        </modal>
        <!-- ↑モーダル -->
      </div>
      <script src="index_11.js"></script>
    </body>
  </html>
</html>
