</html>
  <html lang="en">
  <head>
    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app-1">
      app-1 : {{ text }}<!-- {{ }}はマスタッシュ構文 -->
    </div><br />

    <div id="app-2">
      <!-- v-bind 属性はディレクティブ(特別な属性を示すため v- 接頭辞がついている) -->
      <span v-bind:title="text">
        app-2 : 更新前のtextプロパティ<br />
      </span>
      app-2 : {{ text }}<!-- 要素の title 属性を Vue インスタンスの text プロパティによって更新して保存 -->
    </div><br />

    <div id="app-3">
      <span v-if="seen">app-3 : 表示出来てるよ！</span>
      <span v-else="seen">app-3 : 表示出来てないよ！！</span>
    </div><br />

    <div id="app-4">
      app-4 :
      <ol>
        <li v-for="fruit in fruits"><!-- 配列：fruitsの中にある要素：nameを変数：fruitに代入 -->
          {{ fruit.name }}
        </li>
      </ol>
    </div><br />

    <div id="app-5">
      app-5 : {{ text }}<br />
      <button v-on:click="Backtext">app-5 : 文字を反転する！</button>
    </div><br />

    <div id="app-6">
      app-6 : 入力欄　" <input v-model="text"> "<br /><!-- 双方向バインディングが簡単に行える v-model ディレクティブ -->
      app-6 : 表示欄　" {{ text }} "
    </div><br />

    <div id="app-7">
      <div v-if="type === '犬'">
        app-7 : 犬です！
      </div>
      <div v-else-if="type === '猫'">
        app-7 : 猫です！
      </div>
      <div v-else>
        app-7 : その他です！
      </div>
    </div><br />

    <div id="app-8">
      <div class="counter">app-8：カウント数 → {{ counter }}</div>
      <button v-on:click="plusEvent">+1する！</button>
      <button v-on:click="minusEvent">-1する！</button>
    </div>

    <script src="index_1.js"></script>
  </body>
</html>
