<html>
  <html lang="en">
    <head>
      <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <!-- vue-js-modalはCNDを利用 -->
      <script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.31/dist/index.min.js"></script>
      <title>インターン向け企業情報管理SPA</title>
      <!-- bootstapの読み込み -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <!-- moment.js -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
      <!-- vue-swal(アラートのライブラリ) -->
      <script src="https://unpkg.com/vue-swal"></script>
    </head>

    <body>
      <div id="app" class="m-3">
        <h3 class="text-center">〜インターン向け企業情報管理リスト〜</h3>
        <div class="text-right">
          <button class="btn btn-primary mb-3 bg-primary" v-on:click="Modal_show">追加</button>
        </div>

        <div v-if="offices.length == 0" class="text-center">
          <h4>追加している企業はありません<br>追加してみましょう！</h4>
        </div>

        <div v-else>
          <!--
          <span v-for="selected in select" :key="selected.id">
            <input type="radio" name="show" :id="selected.id" :value="selected.value" v-model="show">
            <label :for="selected.id" class="mr-3">{{ selected.text }}</label>
          </span>
          -->

          <table class="table">
            <thead>
              <tr>
                <th class="align-middle text-center">企業名</th>
                <th class="align-middle text-center">エントリー期日</th>
                <th class="align-middle text-center">インターン期日</th>
                <th class="align-middle text-center">進捗</th>
                <th class="align-middle text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="office in offices">
                <td class="align-middle text-center">{{ office.name }}</td>
                <td class="align-middle text-center">開始日：{{ office.entry_start }}<br>終了日：{{ office.entry_end }}</td>
                <td class="align-middle text-center">開始日：{{ office.intern_start }}<br>終了日：{{ office.intern_end }}</td>
                <td class="align-middle text-center">{{ office.state }}</td>
                <td class="align-middle text-center"><button class="btn btn-primary" v-on:click="edit_office(office)">操作</button></td>
              </tr>
            </tbody>
          </table>
        </div>


        <!-- ↓ついかボタンを押した時のモーダル -->
        <modal name="add-modal" :height="470">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h3 v-if="createFlag">追加</h3>
                <h3 v-else>操作</h3>
              </div>

              <div class="card-text">
                <div class="form-group">
                  <label for="name">企業名</label>
                  <input type="text" class="form-control" id="name" placeholder="企業名を入力してください" v-model.trim="form.name">
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="entry_start">エントリー開始日</label>
                      <input type="date" class="form-control" id="entry_start" v-model="form.entry_start">
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="form-group">
                      <label for="entry_end">エントリー終了日</label>
                      <input type="date" class="form-control" id="entry_end" v-model="form.entry_end">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="intern_start">インターン開始日</label>
                      <input type="date" class="form-control" id="intern_start" v-model="form.intern_start">
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="form-group">
                      <label for="intern_end">インターン終了日</label>
                      <input type="date" class="form-control" id="intern_end" v-model="form.intern_end">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="state">進捗状況</label>
                  <select class="form-control" id="state" v-model="form.state">
                    <!--
                    <option>検討中</option>
                    <option>ES作成中</option>
                    <option>エントリー済</option>
                    <option>インターン参加決定</option>
                    <option>インターン参加済</option>
                    -->
                    <option v-for="progress in progress_manage">{{ progress.text }}</option>
                  </select>
                </div>

                <button class="btn btn-primary" id="add_button" v-on:click="add_office" v-if="createFlag">追加</button>
                <div v-else>
                  <button class="btn btn-danger" v-on:click="delete_office(office)">削除</button>
                  <button class="btn btn-primary" v-on:click="update_office">変更</button>
                </div>

              </div>
            </div>
          </div>
        </modal>
        <!-- ↑ついかボタンを押した時のモーダル -->

      </div>
      <script src="index_10.js"></script>
    </body>
  </html>
</html>
