<html>
  <html lang="en">
    <head>
      <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <!-- bootstapの読み込み -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <!-- CSSの読み込み -->
      <link rel="stylesheet" type="text/css" href="index_5.css">
      <title>練習</title>
    </head>

    <body>
      <!-- ↓ボタンを押すとdiv全体の内容を消す -->
      <div id="app1" v-if="show" class="panel1">
        <p>エラーメッセージです！</p>
        <button v-on:click="show = !show" class="button1"><span>&times;</span>とじる</button>
      </div>
      <!-- ↑ボタンを押すとdiv全体の内容を消す -->

      <br />

      <!-- ↓ボタンを押すと内容の表示・非表示を切り替える(スライドパネル) -->
      <div id="app2">
        <button v-on:click="show = !show" class="button2">{{ label }}</button>
        <transition name="slide"><!-- transitionタグで動きをつける -->
          <div v-if="show" class="panel2"><!-- showがtrueの時 -->
            <p>
              しりとり→りんご→ごま→まくら→らすく→くるま→まぐろ→ろーすとびーふ→ふらんくふると→とけい→いちご→ごみぶくろ
              →ろうそく→くま→まりも→もぐら→らんどせる→るーれっと→とまと→とるこ→こども→もるもっと→とり→りすとばんど
              →どんぐり→りか→からす→するめ→めっせーじ→じこくひょう→うさぎ→ぎじゅつ→つくし→しんかんせん
            </p>
          </div>
        </transition>
      </div>
      <!-- ↑ボタンを押すと内容の表示・非表示を切り替える(スライドパネル) -->

      <br />

      <!-- ↓文字数のカウント -->
      <div id="app3">
        <textarea v-model.trim="text"></textarea><!-- trimを使うと空白を文字としてカウントしない -->
        <p v-if="max - text.length > 0" class="text-success"><big>あと {{ max - text.length }} 文字入力できるよ！</big></p><!-- lengthで文字数を数える -->
        <p v-else-if="max - text.length === 0" class="text-primary"><big>{{ max }} 文字ぴったり入力しています！</big></p><!-- lengthで文字数を数える -->
        <p v-else class="text-danger"><big>{{text.length - max }} 文字オーバーしています！！</big></p><!-- lengthで文字数を数える -->
      </div>
      <!-- ↑文字数のカウント -->

      <script src="index_5.js"></script>
    </body>
  </html>
</html>
